/* header part Start */
.header{ 
    background-color: blue;
}

.header .header-left-content{
    padding: 10px 0px;
}

.header .header-left-content p{
    color: white;
    font-size: 14px;
}

.header .header-right-content{
    padding: 10px 0px;

}
.header .header-right-content ul{
    display: flex;
    justify-content: flex-end;
}
/* .header .header-right-content ul li{} */
.header .header-right-content ul li a{
    padding: 0px 20px;
    font-size: 14px;
    color: white;
}
.header .header-right-content ul li a:hover{
    color: rgb(46, 46, 46);
}
/* .header .header-right-content ul li a i{} */
/* header part end */

/* /////////////////////////////////////////////////////////////////////////// */
/* Nav part start */
/* .nav{} */

.nav .logo{ 
    padding: 20px 0px;
}
.nav .logo img{
    height: 40px;
}
.nav .nav-links{
    padding: 20px 0px;
}
.nav .nav-links ul{
    display: flex;
    justify-content: flex-end;
}
/* .nav .nav-links ul li{} */
.nav .nav-links ul li a{
    padding: 10px 8px;
    font-size: 14px;
    color:rgb(35,35,35);
    text-transform: uppercase;  
}
.nav .nav-links ul li a:hover{
    color: rgb(111, 178, 255);
}

/* Nav part end */
/* /////////////////////////////////////////////////////////////////////////////// */
/* Banner part start */
.Banner{
    background-image: url(/images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.Banner .filter{
    background-color: rgba(0, 0, 0, .35);
}

.Banner .banner-content{
    text-align: right;
    padding: 90px 0px;
}
.Banner .banner-content h2{
    /* margin-top: 85px; */
    margin-bottom: 15px;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    line-height: 30px;

}
.Banner .banner-content h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
}
.Banner .banner-content p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
}
.Banner .banner-content ul{ 
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 85px; */
}
/* .Banner .banner-content ul li{} */
.Banner .banner-content ul li a{
    padding: 10px 20px;
    border: 1px solid white;
    color: white;
    margin-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.Banner .banner-content ul li a:hover{
    background-color: rgb(111, 178, 255);
}
/* Banner part Ends */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* About part Start  */
.about_us{
    padding-top: 60px;
    padding-bottom: 30px;
}
.about_us .imagestyle{
    margin-top: 40px;
}
.about_us .imagestyle img{
    width: 100%;
}

.about_us .aboutText{
    margin-top: 85px;

}
.about_us .aboutText P{
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 30px;
}
/* .about_us .aboutText P{} */


/* About part Ends */

/* common heading start */
 .common-heading{
     margin-bottom: 5px;
     text-align: center;
 }
 .common-heading h2{
     font-size: 24px;
     color: #353535;
     text-transform: uppercase;
    line-height: 24px;
    position: relative;
    display: inline-block;
 }
 .common-heading h2::before{
     position: absolute;
     content: '';
     height: 4px;
     width: 40%;
     /* background-color: blueviolet; */
     background-image: url(../images/under-line.png);
     bottom: -5px;
     left: 0px;
     background-size: contain;
 }

/* common heading end */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Service part start */
.services{
    padding:30px 0px;
}
.services .service_body{
    background: #f1f1f1;
    text-align: center;
    position: relative;
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 65px;
}
.services .service_body:hover{
    box-shadow: 0px 0px 6px rgba(35, 35, 35, .4);
    transition: all linear .3s;
    -webkit-transition:all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
}
.services .service_body:hover .service_icon{
    box-shadow: 0px 0px 6px rgba(35, 35, 35, .4);
    background-color: #5bc5f4;
    transition: all linear .3s;
    -webkit-transition:all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
}
.services .service_body .service_icon{
    height: 75px;
    width: 75px; 
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 75px;
    position: absolute; 
    top:-33px;
    left:50%;
    transform: translate(-50%);
}
.services .service_body .service_icon img{
    height: 40px;
    margin-top: 20px;
    
}
.services .service_body .service_icon::before{
    height: 65px;
    width: 65px;
    position: absolute;
    content: '';
    border:2px solid #f1f1f1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    /* -webkit-transform: translate(-50% ,50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); */
}
.services .service_body h2{
    text-transform: uppercase;
    font-size: 16px;
    color: #353535;
    line-height: 24px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.services .service_body p{
    font-size: 13px;
    line-height: 24px;
}


/* Service part end */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* portfolio past start */
.portfolio{
    padding: 30px 0px;
}
.portfolio .portfolio-gallary{
    margin-top: 30px;
    /* margin-bottom: 20px; */
    position: relative;
    overflow: hidden;
}
.portfolio .portfolio-gallary .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0,0, .6);
    top:  100%;
    /* left: 100%; */
    /* transform: scale(0); */
    transition: all linear 0.3s;
    opacity: 0;
    visibility: hidden;
}
.portfolio .portfolio-gallary:hover .overlay{
    /* transform: scale(1); */
    top:0%;
    opacity: 100%;
    visibility: visible;
    /* left: 0%; */
}

.portfolio .portfolio-gallary .overlay a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #5bc5f4;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.portfolio .portfolio-gallary .overlay a i{
    color: white;
    font-size: 20px; 
}
/* portfolio past end */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* OurTeam part start */
.team{
    padding: 30px 0px;
}
.team .team-picture{
    text-align: center;
    margin-bottom: 5px;
}
  
.team .team-picture .image{
    position: relative;
    margin-top: 30px;
    overflow: hidden;
}
.team .team-picture .image ul{
    position: absolute;
    top: 0;
    right: -30%;
    background-color:rgba(0, 0,0, .6);
    height: 98%;
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    transition: all linear .3s;
}
.team .team-picture .image:hover ul{
    right: 0;
}
/* .team .team-picture .image ul li{} */
.team .team-picture .image ul li a{
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: white;
}
.team .team-picture .image ul li a:hover{
    border: 1px solid #5bc5f4;
    color: #5bc5f4;
}
/* .team .team-picture .image ul li a i{} */
.team .team-picture .image img{
    width: 100%;
}

.team .team-picture h3{
    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
}
.team .team-picture h4{
    font-size:  14px;
    line-height: 10px;
    margin-top: 10px;
    font-weight: 400;
}
/* OurTeam part end */


